div(class='logoContainer')
	div(class='logoImageContainer')
		img(class='teal-text' src='/images/noun_drone.svg' width='50px' height='50px')
	div(class='logoNameContainer')
		h4(class='logoTitle') Hello Drone
		h6(class='logoSubtitle') drone log analysis