div(class='logoContainer')
	div(class='logoImageContainer')
		img(class='teal-text' src='/images/noun_drone.svg' width='100px' height='100px')
	div(class='logoNameContainer')
		h1(class='logoTitle') Hello Drone
		h5(class='logoSubtitle') drone log analysis