div(class='replayControlsContainer')
    div
        a(id='speed-down-btn', class='btn-flat waves-effect waves-light btn-floating iconButton')
            i(class="material-icons") fast_rewind

        span(id='speed-label' class='teal-text') 1x Speed
            
        a(id='speed-up-btn', class='btn-flat waves-effect waves-light btn-floating iconButton')
            i(class="material-icons") fast_forward

    div(class='replayButtonContainer')
        a(id='play-pause-btn' class="btn-floating waves-effect waves-light teal")
            i(class="material-icons") play_arrow
    
    span(id='time-label') --:--.-- / -:--.--