div(id='replay', class='container')
	div(class='row')
		div(class='col s12')
			div(id='map', style='height:500px')
	div(class='row')
		div(class='col s12')
			div(id='slider')
	div(class='row')
		div(class='col s12')
			include playback-controls.pug