div(id='report', class='container')
    div(class='row')
        div(class='col s6')
            div(class='card')
                div(class='card-image')
                    img(src=staticMapUrl)
                div(class='card-content')
                    span(class='card-title') Travel Stats
                    - var distance = data.stats.distanceKm.toFixed(2);
                    - var speed = data.stats.maxGroundSpeed;
                    - var duration = moment.duration(data.stats.time.end - data.stats.time.start);
                    p 
                        | This drone traveled 
                        span(class='reportHighlight') #{distance} kilometers 
                        | in 
                        span(class='reportHighlight') #{duration.minutes()} minutes, #{duration.seconds()} seconds, and #{duration.milliseconds()} milliseconds.
                    p 
                        | It reached a max ground speed of 
                        span(class='reportHighlight') #{speed} meters per second.
        div(class='col s6')
            div(class='card')
                div(class='card-image' style='padding: 24px 24px 0px;')
                    div(class='chart-container' style='position: relative;')
                        canvas(id='battery-chart')
                div(class='card-content')
                    span(class='card-title') Battery Usage
                    - var fullCap = data.stats.battery.max;
                    - var usage = data.stats.battery.end
                    - var percentage = ((usage / fullCap) * 100).toFixed(2);
                    p 
                        | This drone reports a full battery capacity of 
                        span(class='reportHighlight') #{fullCap} mAh.
                    p 
                        | This run drained 
                        span(class='reportHighlight') #{usage} mAh 
                        | from the battery (#{percentage}%).
    div(class='row')
        div(class='col s6')
            div(class='card')
                div(class='card-image' style='padding: 24px 24px 0px;')
                    div(class='chart-container' style='position: relative;')
                        canvas(id='alt-chart')
                div(class='card-content')
                    span(class='card-title') Altitude
                    - var altMax = data.stats.altitude.max;
                    - var relAltMax = data.stats.altitude.relMax;
                    p 
                        | This drone's GPS reports a maximum altitude of 
                        span(class='reportHighlight') #{altMax} meters.
                    p 
                        | This drone's accelorometers and barometers report a maximum relative altitude of 
                        span(class='reportHighlight') #{relAltMax} meters.
        div(class='col s6')
            div(class='card')
                div(class='card-content')
                    span(class='card-title') Spatial Stats
                    strong Side View
                    div(id='pitch-container')
                        canvas(id='pitch-canvas')
                    p 
                        | The drone's pitch varied between 
                        span(class='reportHighlight') #{data.stats.pitchData.min}° 
                        | and 
                        span(class='reportHighlight') #{data.stats.pitchData.max}°.
                    br
                    strong Back View
                    div(id='roll-container')
                        canvas(id='roll-canvas')
                    p 
                        | The drone's roll varied between 
                        span(class='reportHighlight') #{data.stats.rollData.min}° 
                        | and 
                        span(class='reportHighlight') #{data.stats.rollData.max}°.