header(class='reportHeader')
    div(class='reportHeaderLogoContainer')
        include logo-small.pug
    div
        ul(class="tabs tabs-fixed-width")
            li(class="tab")
                a(href="#report" class='active') Report
            li(class="tab")
                a(href="#replay") Replay


