extends layout

block content
	div(style='margin-bottom:20px;')
		include includes/logo.pug
	div(class='container')
		div(class='row')
			div(class='col s8 offset-s2') 
				h4 Upload drone log
				form(class='center-align' action='/upload', method='post', enctype='multipart/form-data')
					input(class='margin-small', type="file", name="log")
					br
					input(id='formButton' type="submit", class='btn margin-small')
				div(class='progress' id='loading' style='visibility:hidden;')
					div(class='indeterminate')
		div(class='row')
			div(class='col s8 offset-s2')
				h4 View previous logs
				if logs && logs.length > 0
					- var sortedLogs = logs.sort((a,b) => b.timestamp - a.timestamp)
					div(class='collection')
						each log in logs
							a(href='/report/'+log.name class='collection-item avatar')
								i(class="material-icons circle") description
								span(class='title') #{'Log #'+log.name}
								p #{moment(log.timestamp).format('llll')}
				else
					h6(class='center-align') No logs uploaded yet!
	script(src='/javascripts/upload.js')