doctype html
html
	head
		title= title
		link( rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/materialize.css')
		script(src='/javascripts/materialize.min.js')
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

		block additionalHead
	body
		block content
