extends layout

block additionalHead
	script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js')
	link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css', rel='stylesheet')
	script(src='/javascripts/nouislider.min.js')
	link(href='/stylesheets/nouislider.css', rel='stylesheet')
	script(src='/javascripts/moment.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/fabric.js/2.4.6/fabric.min.js')


block content
	include includes/report-header.pug
	include includes/report-page.pug
	include includes/replay-viewer.pug
	script.
		const obj = !{JSON.stringify(data)}
	script(src='/javascripts/report-page.js')
	script(src='/javascripts/battery-chart.js')
	script(src='/javascripts/altitude-chart.js')
	script(src='/javascripts/spatial-charts.js')
	script(src='/javascripts/replay-viewer.js')
		
		