body {
  padding-top:20px;
  padding-bottom: 20px;
  overflow-y: scroll;
}
.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logoImageContainer {
  margin-right: 20px;
}
.logoNameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logoTitle {
  margin-top: 0px;
  margin-bottom: 0px;
}
.logoSubtitle {
  margin-top: 5px;
  margin-bottom:10px;
}
.margin-small {
  margin:10px;
}
.reportHeader {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.reportHeaderLogoContainer {
  margin-right:40px;
}

.btn-floating.iconButton {
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  &.disabled {
    & i {
      color: rgba(0, 0, 0, 0.26);
    }
  }
  & i {
    color: black;
  }
}

#speed-label {
  font-weight: bold;
}
.replayButtonContainer {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.replayControlsContainer {
  display: flex;
  align-items: center;
}
.reportHighlight {
  color: #009688;
  font-weight: bold;
}